<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <footer th:fragment="footer" class="footer">
        <div class="footer-content">
            <div class="footer-section">
                <h4>Contact Us</h4>
                <p>Email: contact@shopsphere.com</p>
                <p>Phone: +91 7736108130</p>
            </div>
            <div class="footer-section">
                <h4>Follow Us</h4>
                <div class="social-icons">
                    <a href="https://www.linkedin.com/in/irine-milton?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3Bozg9xsxrQvaE4sNGy01uBQ%3D%3D">linkedin</a>
                   
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <p>Made with ❤️ By Irine Milton</p>
            &copy; 2025 ShopSphere. All rights reserved.
        </div>
    </footer>
</body>
</html>